.contacts-menu {
  z-index: 1;

  list-style: none;
}

.contacts-menu__link {
  display: block;
  width: 40px;
  height: 40px;

  background-color: $color-bright-3;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;

  &--email {
    background-color: $color-bright-3;
    background-image: url("../img/topmenu-mail.svg");
  }

  &--phone {
    background-color: $color-bright-1;
    background-image: url("../img/topmenu-phone.svg");
  }
}
