.like-counter__like-toggler {
  position: relative;

  padding-left: 37px;

  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  font-family: inherit;
  color: $color-dark-alter;
  text-transform: uppercase;

  background-color: transparent;
  border: none;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -5px;

    width: 31px;
    height: 31px;

    background-color: #f9eaea;
    background-image: url("../img/heart.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 13px 11px;
    border-radius: 16px;
  }

  &--liked::before {
    background-image: url("../img/heart-active.svg");
  }
}
