.page-header {
  background-color: $color-dark;
}

.page-header__hamburger {
  position: absolute;
  right: 8px;
  top: 30px;
}

.page-header__nav {
  min-height: 70px;
}

.page-header__logo {
  position: absolute;
  left: 8px;
}
