.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.container {
  box-sizing: border-box;
  width: 270px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: $tablet-width) {
  .container {
    width: 688px;
  }
}

@media (min-width: $desctop-width) {
  .container {
    width: 1320px;
  }
}
