.add-flag {
  position: relative;

  &::before {
    content: "";

    display: block;
    width: 35px;
    height: 24px;

    background-color: $text-color-gray;
    background-repeat: no-repeat;
    border-radius: 3px;

    @media ($tablet) {
      width: 70px;
      height: 47px;
      border-radius: 7px;
    }
  }

  &--australia {
    &::before {
      background-image: url("..img/flag_australia_small.png");
    }
  }

  &--belgium {
    &::before {
      background-image: url("../img/flag_belgium_small.png");
    }
  }

  &--czech {
    &::before {
      background-image: url("../img/flag_czech_small.png");
    }

    &-m {
      &::before {
        @media ($tablet) {
          background-image: url("../img/flag_czech.png");
        }
      }
    }
  }

  &--dominicana {
    &::before {
      background-image: url("../img/flag_dominica_small.png");
    }
  }

  &--germany {
    &::before {
      background-image: url("../img/flag_germany_small.png");
    }
  }

  &--greatBritain {
    &::before {
      background-image: url("../img/flag_uk_small.png");
    }
  }

  &--france {
    &::before {
      background-image: url("../img/flag_france_small.png");
    }

    &-m {
      @media ($tablet) {
        &::before {
          background-image: url("../img/flag_france.png");
        }
      }
    }
  }

  &--seychelles {
    &::before {
      background-image: url("../img/flag_seychelles_small.png");
    }
  }

  &--sriLanka {
    &::before {
      background-image: url("../img/flag_sri-lanka_small.png");
    }
  }

  &--thailand {
    &::before {
      background-image: url("../img/flag_thailand_small.png");
    }

    &-m {
      @media ($tablet) {
        &::before {
          background-image: url("../img/flag_thailand.png");
        }
      }
    }
  }

  &--usa {
    &::before {
      background-image: url("../img/flag_usa_small.png");
    }
  }
}
