.add-flag {
  position: relative;

  &::before {
    content: "";

    display: block;
    width: 35px;
    height: 24px;

    background-color: $text-color-gray;
    background-repeat: no-repeat;
    border-radius: 3px;

    @media ($tablet) {
      width: 70px;
      height: 47px;
      border-radius: 7px;
    }
  }

  &--australia {
    &::before {
      background-image: url("../img/flag-australia.png");
    }

    &-s {
      &::before {
        @media ($gt-mobile) {
          background-image: url("../img/flag-australia_small.png");
        }
      }
    }
  }

  &--belgium {
    &::before {
      background-image: url("../img/flag-belgium.png");
    }

    &-s {
      &::before {
        @media ($gt-mobile) {
          background-image: url("../img/flag-belgium_small.png");
        }
      }
    }
  }

  &--czech {
    &::before {
      background-image: url("../img/flag-czech.png");
    }

    &-s {
      &::before {
        @media ($gt-mobile) {
          background-image: url("../img/flag-czech_small.png");
        }
      }
    }

    &-l {
      &::before {
        @media ($tablet) {
          background-image: url("../img/flag-czech_large.png");
        }
      }
    }
  }

  &--dominicana {
    &::before {
      background-image: url("../img/flag-dominica.png");
    }

    &-s {
      &::before {
        @media ($gt-mobile) {
          background-image: url("../img/flag-dominica_small.png");
        }
      }
    }
  }

  &--germany {
    &::before {
      background-image: url("../img/flag-germany.png");
    }

    &-s {
      &::before {
        @media ($gt-mobile) {
          background-image: url("../img/flag-germany_small.png");
        }
      }
    }
  }

  &--greatBritain {
    &::before {
      background-image: url("../img/flag-uk.png");
    }

    &-s {
      &::before {
        @media ($gt-mobile) {
          background-image: url("../img/flag-uk_small.png");
        }
      }
    }
  }

  &--france {
    &::before {
      background-image: url("../img/flag-france.png");
    }

    &-s {
      &::before {
        @media ($gt-mobile) {
          background-image: url("../img/flag-france_small.png");
        }
      }
    }

    &-l {
      @media ($tablet) {
        &::before {
          background-image: url("../img/flag-france_large.png");
        }
      }
    }
  }

  &--seychelles {
    &::before {
      background-image: url("../img/flag-seychelles.png");
    }

    &-s {
      &::before {
        @media ($gt-mobile) {
          background-image: url("../img/flag-seychelles_small.png");
        }
      }
    }
  }

  &--sri-lanka {
    &::before {
      background-image: url("../img/flag-sri-lanka.png");
    }

    &-s {
      &::before {
        @media ($gt-mobile) {
          background-image: url("../img/flag-sri-lanka_small.png");
        }
      }
    }
  }

  &--thailand {
    &::before {
      background-image: url("../img/flag-thailand.png");
    }

    &-s {
      &::before {
        @media ($gt-mobile) {
          background-image: url("../img/flag-thailand_small.png");
        }
      }
    }

    &-l {
      @media ($tablet) {
        &::before {
          background-image: url("../img/flag-thailand_large.png");
        }
      }
    }
  }

  &--usa {
    &::before {
      background-image: url("../img/flag-usa.png");
    }

    &-s {
      &::before {
        @media ($gt-mobile) {
          background-image: url("../img/flag-usa_small.png");
        }
      }
    }
  }
}
