.contacts-menu {
  display: flex;
  padding: 0;
  list-style: none;
  color: $color-dark-alter;

  @media ($tablet) {
    display: none;
  }

  @media ($desktop) {
    display: flex;
  }
}

.contacts-menu__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  background-color: $color-bright-3;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;

  @media ($desktop) {
    width: 50px;
    height: 50px;
  }

  &--email {
    background-color: $color-bright-3;

    &:hover,
    &:focus {
      background-color: $color-bright-1;
    }

    &:active {
      color: rgba($color-dark-alter, 0.3);
    }
  }

  &--phone {
    background-color: $color-bright-1;

    &:hover,
    &:focus {
      background-color: #f26926;
    }
  }
}

.contacts-menu__link-icon {
  fill: currentColor;

  &--phone {
    width: 18px;
    height: 18px;
  }

  &--email {
    width: 18px;
    height: 14px;
  }
}
