.contacts-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;

  list-style: none;

  @media ($tablet) {
    box-sizing: border-box;
    // padding-right: 35px;
    // padding-left: 35px;
  }

  @media ($desktop) {
    justify-content: flex-start;
    // padding-left: 152px;
  }
}

.contacts-list__item {
  display: flex;
  align-items: center;
  min-height: 45px;
  margin-right: 45px;

  @media ($tablet) {
    min-height: 68px;
    margin-right: 68px;
  }

  @media ($desktop) {
    min-height: 90px;
    margin-right: 112px;
  }

  &:last-of-type {
    margin-right: 0;
  }
}

.contacts-list__link {
  position: relative;

  display: block;
  box-sizing: border-box;
  padding-left: 61px;

  font-weight: 700;
  color: $color-dark-alter;
  text-transform: uppercase;
  text-decoration: none;

  cursor: pointer;

  @media ($tablet) {
    padding-left: 91px;
  }

  @media ($desktop) {
    padding-left: 120px;
  }

  &::before {
    content: "";
    position: absolute;
    top: -13px;
    left: 0;

    width: 45px;
    height: 45px;
    background-color: $color-dark-darkest;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;

    @media ($tablet) {
      top: -22px;
      width: 68px;
      height: 68px;
    }

    @media ($desktop) {
      top: -33px;
      width: 90px;
      height: 90px;
    }
  }

  &--phone::before {
    background-image: url("../img/contacts-phone.svg");
    background-size: 18px 18px;

    @media ($tablet) {
      background-size: 27px 27px;
    }

    @media ($desktop) {
      background-size: 36px 36px;
    }
  }

  &--email::before {
    background-image: url("../img/contacts-mail.svg");
    background-size: 18px 13px;

    @media ($tablet) {
      background-size: 27px 20px;
    }

    @media ($desktop) {
      background-size: 36px 26px;
    }
  }

  &--bright {
    color: $color-bright-4;
  }
}
