.hamburger {
  width: 25px;
  height: 11px;
  padding: 0;

  color: inherit;

  background-color: transparent;
  border: none;

  cursor: pointer;
  // Временно закомментировано.
  // &--closer {
  //   background-image: url("../img/close.svg");
  //   background-repeat: no-repeat;
  // }

  // &--opener {
  //   background-image: url("../img/sprite.svg#menu");
  //   background-repeat: no-repeat;
  // }
}

.hamburger__icon {
  width: 25px;
  height: 11px;
  fill: currentColor;
}
