.intro {
  margin-bottom: 39px;
  padding-top: 24px;

  background-color: $color-dark;
  background-image: url("../img/traveller-illustration-mobile@1x.png"), url("../img/globe-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 62% 153px, 50% -70px;

  @media ($tablet) {
    margin-bottom: 96px;
    padding-top: 73px;
    color: #ffffff;
    background: #182044;
  }

  @media ($desktop) {
    margin-bottom: 0;
    padding-top: 0;

    background-color: #161c34;
    background-image: url("../img/traveller-illustration-desktop@1x.png"), url("../img/globe-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: left 60% bottom 0, center bottom;
  }
}

.intro__container {
  position: relative;

  @media ($desktop) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
    min-height: 649px;
  }
}

.intro__lead {
  width: 250px;
  min-height: 384px;
  margin: 0 auto;

  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;

  @media ($tablet) {
    width: 400px;
    min-height: auto;
    margin: 0 auto;

    font-size: 60px;
    line-height: 70px;

    background-color: transparent;
    background-image: none;
  }

  @media ($desktop) {
    width: 400px;
    margin: 0 0 100px 0;
    padding: 109px 67px 0;

    text-align: left;
  }
}

.intro__reviews {
  margin-right: -25px;
  margin-left: -25px;
  padding: 47px 100px 110px 50px;

  background-color: $color-dark-alter;

  @media ($tablet) {
    height: 585px;
    margin-right: -40px;
    margin-left: -40px;
    padding: 36px 400px 0 74px;

    background-color: $color-dark-lighter;
    background-image: url("../img/traveller-illustration-tablet@1x.png"), url("../img/globe-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: left 72% bottom 140px, center bottom;
  }

  @media ($desktop) {
    width: 260px;
    height: auto;
    margin-bottom: 30px;
    margin-left: auto;
    padding: 70px 66px 0 58px;

    background: none;
  }
}

.intro__blockquote {
  display: table;
  margin: 0;
  padding: 0;

  font-style: normal;
}

.intro__review {
  margin: 0 0 18px 0;
  padding: 0;

  @media ($tablet) {
    margin-bottom: 38px;
    padding-top: 50px;
    padding-bottom: 0;
  }
}

.intro__review-author {
  font-weight: 700;
  font-style: normal;

  @media ($tablet) {
    font-size: 21px;
    line-height: 25px;
  }
}

.intro__guide {
  margin-top: -80px;
  background-color: $color-dark-lighter;

  @media ($tablet) {
    margin: -80px 0 0;
    padding: 0;
    background-color: transparent;
  }

  @media ($desktop) {
    width: 100%;
    margin-top: 0;
  }

  &::before {
    content: "";  // Комментарий: Задаёт контрастный фон у пошаговой инструкции
    position: absolute;
    right: 50%;
    bottom: 0;
    left: 50%;
    width: 100vw;
    height: 240px;
    margin-right: -50vw;
    margin-left: -50vw;
    background-color: $color-dark-lighter;

    @media ($tablet) {
      content: none;
    }
  }
}

.intro__usage-guide {
  margin: -80px 0 0;

  @media ($tablet) {
    margin-top: -140px;
  }

  @media ($desktop) {
    margin-top: 0;
  }
}
