.main-nav {
  z-index: 2;
  box-sizing: border-box;

  @media ($tablet) {
    display: flex;
  }

  &--open {
    background-color: #ffffff;
  }

  &--inner {
    padding-top: 19px;

    @media ($tablet) {
      padding-top: 40px;
    }

    @media ($desktop) {
      padding-top: 49px;
    }
  }
}

.main-nav__popup-wrapper {
  @media ($desktop) {
    display: block;
    width: auto;
    height: auto;
  }
}

.main-nav__user {
  &--mobile {
    @media ($tablet) {
      display: none;
    }
  }
}

.main-nav__side-menu {
  position: absolute;
  top: 458px;

  display: flex;
  margin: 0 auto;

  @media ($tablet) {
    position: static;
    margin-right: 0;
  }

  &--inner {
    display: none;

    @media ($tablet) {
      display: flex;
    }
  }
}

.main-nav__contacts {
  @media ($desktop) {
    display: none;
  }
}

.main-nav__social {
  @media ($desktop) {
    display: none;
  }
}
