.map {
  margin-top: $shift-top-mobile;

  @media ($tablet) {
    margin-top: $shift-top-tablet;
  }
}

.map__top {
  color: $color-dark-lighter;
  background-color: $color-bright-4;
  border-radius: $rounded-bottom-mobile;

  @media ($tablet) {
    border-radius: $rounded-bottom-tablet;
  }
}

.map__container {
  padding-top: 69px;
  padding-bottom: 35px;

  @media ($tablet) {
    padding-top: 153px;
    padding-bottom: 85px;
  }

  @media ($desktop) {
    padding-top: 144px;
    padding-bottom: 60px;
  }
}

.map__wrapper {
  @media ($desktop) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 74px;
  }
}

.map__end-point {
  position: relative;

  margin-top: 0;
  margin-bottom: 31px;
  padding-left: 61px;

  font-weight: 700;
  text-transform: uppercase;

  @media ($tablet) {
    margin-bottom: 58px;
    padding-left: 128px;
  }

  @media ($desktop) {
    margin-right: 148px;
    margin-bottom: 0;
    padding-top: 1px;
  }
}

.map__point-icon {
  position: absolute;
  top: 50%;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;

  background-color: $color-dark-darkest;
  border-radius: 50%;

  transform: translateY(-50%);

  @media ($tablet) {
    top: 40%;
    left: 35px;
    width: 68px;
    height: 68px;
  }

  @media ($desktop) {
    top: 48%;
    left: 6px;
    width: 90px;
    height: 90px;
  }

  & svg {
    width: 14px;
    height: 22px;
    fill: $color-bright-4;

    @media ($tablet) {
      width: 21px;
      height: 32px;
    }

    @media ($desktop) {
      width: 28px;
      height: 43px;
    }
  }
}


.map__button {
  @media ($tablet) {
    margin-right: 35px;
    margin-left: 35px;
    padding-right: 65px;
    padding-left: 36px;
  }

  @media ($desktop) {
    display: table;
    width: auto;
    margin: 0;
    padding-right: 66px;
  }
}

.map__interactive-map {
  position: relative;
  z-index: -1;

  margin-top: $shift-top-mobile;

  background-color: #fbf9f5;

  @media ($tablet) {
    margin-top: $shift-top-tablet;
  }

  @media ($desktop) {
    margin-top: -200px;
  }
}

.map__placeholder {
  display: block;
  margin-right: auto;
  margin-left: auto;

  @media ($tablet) {
    width: 768px;
    height: 700px;
  }

  @media ($desktop) {
    width: 1440px;
    height: 750px;
  }
}
