.map {
  z-index: 1;
  margin-top: $shift-top-mobile;

  @media ($tablet) {
    margin-top: $shift-top-tablet;
  }
}

.map__top {
  padding-top: 69px;
  padding-bottom: 35px;

  color: $color-dark-lighter;

  background-color: $color-bright-4;
  border-radius: $rounded-bottom-mobile;

  @media ($tablet) {
    padding-top: 153px;
    padding-bottom: 85px;

    border-radius: $rounded-bottom-tablet;
  }

  @media ($desktop) {
    padding-top: 144px;
    padding-bottom: 60px;
  }
}

.map__container {
  @media ($desktop) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    padding-right: 74px;
  }
}

.map__end-point {
  position: relative;

  margin-top: 0;
  margin-bottom: 31px;
  padding-left: 61px;

  font-weight: 700;
  text-transform: uppercase;

  @media ($tablet) {
    margin-bottom: 58px;
    padding-left: 128px;
  }

  @media ($desktop) {
    margin-right: 148px;
    margin-bottom: 0;
    padding-top: 1px;
  }

  &::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;

    width: 45px;
    height: 45px;

    background-color: $color-dark-darkest;
    background-image: url("../img/contacts-location.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px 22px;
    border-radius: 50%;

    @media ($tablet) {
      top: -21px;
      left: 35px;

      width: 68px;
      height: 68px;

      background-size: 21px 32px;
    }

    @media ($desktop) {
      top: -29px;
      left: 6px;

      width: 90px;
      height: 90px;

      background-size: 28px 43px;
    }
  }
}

.map__button {
  width: 270px; /* Временно, для базовой стилизации */
  margin-right: auto;
  margin-left: auto;

  @media ($tablet) {
    width: 618px;
    padding-right: 65px;
    padding-left: 36px;
  }

  @media ($desktop) {
    display: table;
    width: auto;
    margin: 0;
    padding-right: 66px;
  }
}

.map__interactive-map {
  position: relative;
  z-index: -1;

  margin-top: $shift-top-mobile;

  background-color: #fbf9f5;

  @media ($tablet) {
    margin-top: $shift-top-tablet;
  }

  @media ($desktop) {
    margin-top: -200px;
  }
}

.map__placeholder {
  display: block;
  margin-right: auto;
  margin-left: auto;

  @media ($tablet) {
    width: 768px;
    height: 700px;
  }

  @media ($desktop) {
    width: 1440px;
    height: 750px;
  }
}
