.modal-business-prices {
  margin-right: auto;
  margin-left: auto;
  padding-top: 33px;

  color: $text-color-gray;

  background-color: #ffffff;
  border-radius: 20px;
}

.modal-business-prices__list {
  padding-left: 25px;
}

.modal-business-prices__button {
  width: 100%;
  padding-top: 19px;
  padding-bottom: 16px;

  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  font-family: inherit;
  color: #1d2e5b;
  text-transform: uppercase;

  background-color: #f3f4f8;
  border: none;
  border-radius: 0 0 20px 20px;
}
