.page-main {
  &--inner {
    color: $text-color-gray;

    background-color: $color-light;
  }
}

.page-main__heading {
  position: relative;
  z-index: 1;

  padding-top: 24px;
  padding-bottom: 9px;

  color: #ffffff;

  background-color: $color-dark-alter;
  border-radius: 0 0 20px 20px;

  @media ($tablet) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 129px;
    padding-bottom: 62px;

    border-radius: $rounded-bottom-tablet;
  }

  @media ($desktop) {
    padding-top: 119px;
    padding-bottom: 63px;
  }
}

.page-main__title {
  position: relative;

  display: table;
  margin: 0;
  margin-bottom: 0;
  margin-left: 25px;

  font-weight: 700;
  font-size: 36px;
  line-height: 40px;

  @media ($tablet) {
    margin-left: 74px;

    font-size: 60px;
    line-height: 70px;
    color: #ffffff;
  }

  @media ($desktop) {
    margin-left: 126px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -11px;
    left: 0;

    width: 100%;
    height: 5px;

    background-color: $color-bright-1;
    border-radius: 2px;

    @media ($tablet) {
      bottom: -66px;
      left: 2px;

      height: 8px;
      border-radius: 4px;
    }
  }
}

.page-main__return {
  display: none;

  @media ($tablet) {
    display: block;
    margin: 21px 75px 0 0;
  }

  @media ($desktop) {
    margin-right: 123px;
  }
}

.page-main__return-link {
  padding: 2px 62px 0 0;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;

  background-image: url("../img/return.svg");
  background-repeat: no-repeat;
  background-position: right 0 top 1px;
  background-size: 32px 16px;
  background-origin: padding-box;
}


.page-main__layout-columns {
  @media ($desktop) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 1320px;
    margin: 0 auto;
  }
}
