.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -239px;
  padding-top: 38px;
  padding-bottom: 7px;

  color: $text-color-gray;

  background-color: #ffffff;
  border-radius: $rounded-top-mobile;

  @media ($tablet) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: -154px;
    padding: 48px 40px 46px 40px;

    border-radius: $rounded-top-tablet;
  }

  @media ($desktop) {
    padding-right: 60px;
    padding-left: 60px;
  }

  &--inner {
    margin-top: 0;
  }
}

.page-footer__logo {
  margin-right: auto;
  margin-bottom: 41px;
  margin-left: auto;

  @media ($tablet) {
    margin: 0;
  }
}

.page-footer__logo-image {
  display: block;
  width: 96px;
  height: 15px;

  @media ($tablet) {
    width: 164px;
    height: 42px;
  }

  @media ($desktop) {
    width: 198px;
    height: 52px;
  }
}

.page-footer__social {
  margin-bottom: 37px;

  @media ($tablet) {
    margin-bottom: 0;
    margin-left: -9px;
  }

  @media ($desktop) {
    margin-left: -45px;
  }
}

.page-footer__copyrights {
  align-self: center;

  @media ($tablet) {
    align-self: flex-start;
  }
}
