.social {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;

  color: $text-color-dark;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;

  background-repeat: no-repeat;
  background-position: center;

  @media ($tablet) {
    width: 60px;
    height: 60px;
  }

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: $color-dark-lighter;
  }

  &:active {
    color: rgba(#ffffff, 0.3);
  }

  &--with-bg {
    background-color: $color-bright-4;
    border-radius: 50%;
  }
}

.social__link-icon {
  fill: currentColor;

  &--fb {
    width: 11px;
    height: 21px;

    @media ($tablet) {
      width: 14px;
      height: 28px;
    }
  }

  &--inst {
    width: 18px;
    height: 18px;

    @media ($tablet) {
      width: 24px;
      height: 24px;
    }
  }

  &--vk {
    width: 23px;
    height: 12px;

    @media ($tablet) {
      width: 31px;
      height: 16px;
    }
  }
}
