.transportation {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;

  list-style: none;
}

.transportation__item {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;

  color: rgba(0, 0, 0, 0.15);

  background-color: $color-light;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;

  @media ($tablet) {
    width: 31px;
    height: 31px;
    margin-bottom: 1px;

    background-color: transparent;
  }

  @media ($desktop) {
    margin-right: 3px;
    margin-bottom: 0;
  }

  &:last-of-type {
    @media ($desktop) {
      margin-right: 0;
    }
  }

  &--alter {
    position: relative;
    width: 24px;
    height: 21px;
    margin: 0 10px 0 0;

    background-color: transparent;
    background-size: auto 21px;
    border-radius: 0;
  }

  &--active {
    color: $text-color-dark;
  }

  &[data-tip] {
    &:hover,
    &:focus {
      &::before {
        content: "";
        position: absolute;
        bottom: -16px;
        left: 50%;
        z-index: 1;

        width: 0;
        height: 0;

        border: 8px solid transparent;
        border-bottom-color: #101d41;
        transform: translateX(-50%);
      }

      &::after {
        content: attr(data-tip);
        position: absolute;
        bottom: -72px;
        left: 50%;
        z-index: 2;

        max-width: 180px;
        padding: 17px 26px 16px;

        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #ffffff;
        white-space: nowrap;
        text-overflow: ellipsis;

        background-color: #101d41;
        border-radius: 4px;
        transform: translateX(-50%);
      }
    }
  }
}

.transportation__icon {
  &--airplane {
    width: 19px;
    height: 21px;

    &-s {
      @media ($mobile-only) {
        width: 14px;
        height: 16px;
      }
    }
  }

  &--bus {
    width: 17px;
    height: 21px;

    &-s {
      @media ($mobile-only) {
        width: 13px;
        height: 16px;
      }
    }
  }

  &--bicycle {
    width: 24px;
    height: 21px;

    &-s {
      @media ($mobile-only) {
        width: 19px;
        height: 17px;
      }
    }
  }

  &--hiking {
    width: 20px;
    height: 21px;

    &-s {
      @media ($mobile-only) {
        width: 15px;
        height: 17px;
      }
    }
  }
}
