.travel-routes {
  position: relative;
  z-index: 5;

  margin-top: $shift-top-mobile;
  padding-top: 107px;
  padding-bottom: 30px;

  color: $text-color-gray;

  background-color: $color-light;
  border-radius: $rounded-bottom-mobile;

  @media ($tablet) {
    margin-top: $shift-top-tablet;
    padding-top: 158px;
    padding-bottom: 80px;

    background-image: url("../img/flags-back@1x.png"), url("../img/light-back-square-tablet.png");
    background-repeat: no-repeat;
    background-position: 439px 165px, 40px 491px;
    border-radius: $rounded-bottom-tablet;
  }

  @media ($desktop) {
    padding-top: 251px;
    padding-bottom: 139px;
    background-position: right 60px top 173px, 60px 174px;
  }
}

.travel-routes__title {
  margin-bottom: 20px;

  @media ($tablet) {
    margin-bottom: 59px;
  }

  @media ($desktop) {
    padding-left: 800px;
  }
}

.travel-routes__list {
  margin: 0 auto 26px auto;
  padding: 0;
  list-style: none;

  @media ($tablet) {
    margin: 0 auto 47px auto;
  }

  @media ($desktop) {
    position: absolute;
    top: 246px;
    left: 131px;

    width: 559px;
  }
}

.travel-routes__text {
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 59px;
  padding-right: 50px;
  padding-left: 25px;

  @media ($tablet) {
    margin-bottom: 103px;
    padding-right: 310px;
    padding-left: 35px;
  }

  @media ($desktop) {
    margin-bottom: 95px;
    padding-right: 175px;
    padding-left: 800px;
  }
}

.travel-routes__button-wrapper {
  @media ($tablet) {
    box-sizing: border-box;
    padding-right: 35px;
    padding-left: 35px;
  }

  @media ($desktop) {
    padding-left: 804px;
  }
}

.travel-routes__button {
  width: 100%;

  @media ($desktop) {
    display: table;
    width: auto;
  }
}
