.usage-guide {
  margin: 0 auto;
  padding: 0;

  list-style: none;

  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: $color-dark-alter;

  border-radius: 10px;

  @media ($tablet) {
    font-size: 24px;
    line-height: 24px;
  }
}

.usage-guide__text {
  margin-top: 0;
  margin-bottom: 0;
}

.usage-guide__item {
  box-sizing: border-box;
  margin-top: -10px;
  padding: 22px 100px 32px 24px;

  border-radius: 10px 10px 0 0;

  @media ($tablet) {
    width: 50%;
    margin: 0;
    padding: 31px 100px 61px 33px;
  }

  @media ($desktop) {
    margin-left: -35px;
    border-radius: 20px;
  }

  &:nth-of-type(odd) {
    @media ($tablet) {
      width: calc(50% + 35px);
    }
  }

  &:nth-of-type(even) {
    @media ($tablet) {
      margin-left: -35px;
    }
  }

  &:nth-of-type(n) {
    @media ($desktop) {
      width: 380px;
      padding: 29px 100px 30px 30px;
    }
  }

  &:last-of-type {
    @media ($desktop) {
      width: 315px;
    }
  }

  &:first-of-type {
    @media ($desktop) {
      width: 350px;
      margin-left: 0;
      padding-left: 34px;
    }
  }

  &--style-1 {
    margin-top: 0;
    background-color: $color-bright-1;

    @media ($tablet) {
      border-radius: 20px 0 0 0;
    }

    @media ($desktop) {
      border-radius: 20px;
    }
  }

  &--style-2 {
    background-color: $color-bright-2;

    @media ($tablet) {
      border-radius: 20px 20px 0 0;
    }

    @media ($desktop) {
      border-radius: 20px;
    }
  }

  &--style-3 {
    background-color: $color-bright-3;

    @media ($tablet) {
      border-radius: 0 0 0 20px;
    }

    @media ($desktop) {
      border-radius: 20px;
    }
  }

  &--style-4 {
    padding-bottom: 22px;
    background-color: $color-bright-4;
    border-radius: 10px;

    @media ($tablet) {
      border-radius: 0 0 20px 20px;
    }

    @media ($desktop) {
      border-radius: 20px;
    }
  }
}
