.user-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-nav__link {
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .user-nav__link {
    padding-right: 30px;
    padding-left: 28px;
  }
}
