.user-nav {
  padding: 0;
  list-style: none;
}

.user-nav__link {
  text-decoration: none;

  @media ($tablet) {
    padding-right: 30px;
    padding-left: 28px;
  }

  @media ($desktop) {
    padding-left: 29px;
  }
}
