.user-card {
  position: relative;
  width: 270px;
  margin-bottom: 10px;

  @media ($tablet) {
    width: 285px;
  }

  &:hover,
  &:focus {
    box-shadow: 0 6px 21px rgba(0, 0, 0, 0.08);

    & .user-card__image {
      transform: scale(1.179);
    }
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.user-card__level {
  position: absolute;
  top: 16px;
  left: 16px;
  margin: 0;

  @media ($tablet) {
    top: 20px;
    left: 20px;
  }

  @media ($desktop) {
    top: 23px;
    left: 23px;
  }
}

.user-card__level-progress {
  position: absolute;
  top: 0;
  left: 0;
}

.user-card__image-wrapper {
  width: 270px;
  height: 270px;
  overflow: hidden;
  border-radius: 10px 10px 0 0;

  @media ($tablet) {
    width: 285px;
    height: 285px;
    border-radius: 20px 20px 0 0;
  }
}

.user-card__image {
  display: block;
  width: 100%;
  height: 100%;
  background-color: $text-color-gray;
}

.user-card__info {
  padding: 26px 10px 22px;
  color: #1d2e5b;
  background-color: #ffffff;
  border-radius: 0 0 10px 10px;

  @media ($tablet) {
    padding-top: 26px;
    padding-bottom: 29px;
    border-radius: 0 0 20px 20px;
  }

  @media ($desktop) {
    padding: 33px 10px 27px;
  }
}

.user-card__routes {
  position: absolute;
  top: 258px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 0 -17px 0 0;
  padding: 0;

  list-style: none;

  @media ($tablet) {
    top: 273px;
  }
}

.user-card__route {
  position: relative;
  margin-right: 17px;

  &[data-tip] {
    &:hover,
    &:focus {
      &::before {
        content: "";
        position: absolute;
        bottom: -16px;
        left: 50%;
        z-index: 1;

        width: 0;
        height: 0;

        border: 8px solid transparent;
        border-bottom-color: #101d41;
        transform: translateX(-50%);
      }

      &::after {
        content: attr(data-tip);
        position: absolute;
        bottom: -72px;
        left: 50%;
        z-index: 2;

        max-width: 125px;
        padding: 17px 26px 16px;

        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #ffffff;
        white-space: nowrap;
        text-overflow: ellipsis;

        background-color: #101d41;
        border-radius: 4px;
        transform: translateX(-50%);
      }
    }
  }
}

.user-card__route-icon {
  &::before {
    @media ($tablet) {
      width: 35px;
      height: 24px;
      border-radius: 3px;
    }
  }
}

.user-card__name {
  position: relative;
  display: table;
  margin: 0 auto 13px auto;

  @media ($tablet) {
    margin-bottom: 17px;
  }

  @media ($desktop) {
    margin-bottom: 19px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 7px;
    left: -17px;

    width: 5px;
    height: 5px;
    margin: 0;
    padding: 0;

    border-radius: 50%;

    @media ($tablet) {
      top: 13px;
      left: -22px;

      width: 7px;
      height: 7px;
    }
  }

  &--offline {
    &::before {
      background-color: #f97676;
    }
  }

  &--online {
    &::before {
      background-color: #81e31e;
    }
  }
}

.user-card__profile-link {
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  text-decoration: none;

  @media ($tablet) {
    font-size: 24px;
    line-height: 24px;
  }

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.user-card__tags {
  width: 180px;
  margin: 0 auto 16px auto;

  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: $text-color-gray;

  @media ($tablet) {
    width: 240px;
    margin-bottom: 24px;

    font-size: 20px;
    line-height: 24px;
  }
}

.user-card__tag {
  text-decoration: none;
}

.user-card__transportation {
  display: flex;
  justify-content: center;
  margin-right: 20px;
  margin-left: 32px;

  text-align: center;
}
