.user-actions {
  margin-top: $shift-top-mobile;
  padding-top: 107px;
  background-color: $color-dark-lighter;

  @media ($tablet) {
    margin-top: $shift-top-tablet;
    padding-top: 161px;
  }

  @media ($desktop) {
    padding-top: 192px;
  }
}

.user-actions__title {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;

  @media ($tablet) {
    margin-bottom: 57px;
  }
}

.user-actions__text-group {
  margin-bottom: 28px;

  @media ($tablet) {
    margin-bottom: 63px;
  }

  @media ($desktop) {
    margin-bottom: 57px;
  }
}

.user-actions__text {
  box-sizing: border-box;
  margin: 0 auto;
  padding-right: 35px;
  padding-left: 35px;

  text-align: center;
}

.user-actions__link {
  color: $color-bright-4;
  text-decoration: underline;
}

.user-actions__form {
  position: relative;
  display: flex;
  width: 270px;
  margin-bottom: 20px;

  @media ($tablet) {
    width: 618px;
    margin-bottom: 50px;
  }

  @media ($desktop) {
    width: 1176px;
    margin-bottom: 60px;
  }
}

.user-actions__input {
  box-sizing: border-box;
  width: 225px;
  height: 62px;
  padding: 23px 30px 21px 23px;

  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  font-family: inherit;
  color: $text-color-gray;

  border: none;
  border-radius: 10px;

  @media ($tablet) {
    width: 536px;
    height: 81px;
    padding-left: 34px;

    font-size: 24px;
    line-height: 24px;

    border-radius: 20px 0 0 20px;
  }

  @media ($desktop) {
    width: 850px;
  }

  &::placeholder {
    color: inherit;
    opacity: 0.3;
  }

  &:hover {
    &::placeholder {
      opacity: 0.5;
    }
  }
}

.user-actions__send-button {
  position: relative;
  box-sizing: border-box;
  width: 60px;
  height: 62px;
  margin-left: -15px;

  font-family: inherit;
  color: $text-color-dark;

  background-color: $color-bright-4;
  border: none;
  border-radius: 10px;

  @media ($tablet) {
    width: 82px;
    height: 81px;
    margin-left: 0;

    border-radius: 0 20px 20px 0;
  }

  @media ($desktop) {
    width: 324px;
  }

  &::after {
    @media ($desktop) {
      content: "Регистрация";
      position: absolute;
      top: 30px;
      left: 36px;

      font-weight: 700;
      font-size: 24px;
      line-height: 24px;
      color: inherit;
    }
  }
}
