.get-rout {
  z-index: 1;

  margin-top: $shift-top-mobile;
}

.get-rout__top {
  padding-top: 69px;
  padding-bottom: 35px;

  color: $color-dark-lighter;

  background-color: $color-bright-4;
  border-radius: $rounded-bottom-mobile;
}

.get-rout__end-point {
  position: relative;

  margin-top: 0;
  margin-bottom: 31px;
  padding-left: 61px;

  font-weight: 700;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    left: 0;

    width: 45px;
    height: 45px;

    background-image: url("../img/contacts-location.svg");
    background-repeat: no-repeat;
  }
}

.get-rout__button {
  width: 270px; /* Временно, для базовой стилизации */
  margin-right: auto;
  margin-left: auto;
}

.get-rout__interactive-map {
  position: relative;
  z-index: -1;

  margin-top: $shift-top-mobile;
}

.get-rout__map-image {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
