.transportation {
  padding-left: 0;

  list-style: none;
}

.transportation__item {
  width: 33px;
  height: 33px;

  background-repeat: no-repeat;
  background-position: center center;

  &--alter {
    position: relative;
  }

  &--airplane {
    background-image: url("../img/plane.svg");
  }

  &--bus {
    background-image: url("../img/bus.svg");
  }

  &--bicycle {
    background-image: url("../img/bike.svg");
  }

  &--hiking {
    background-image: url("../img/run.svg");
  }
}
