.usage-guide {
  background-color: $color-dark-lighter;
}

.usage-guide__text {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.usage-guide__list {
  position: relative;
  top: -80px;
  padding-left: 0;

  list-style: none;

  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: $color-dark-alter;

  border-radius: 10px;
}

.usage-guide__item {
  margin-top: -10px;
  padding-top: 12px;
  padding-right: 100px;
  padding-bottom: 22px;
  padding-left: 13px;

  border-radius: 10px 10px 0 0;

  &:first-of-type {
    margin-top: 0;
  }

  &:last-of-type {
    padding-bottom: 12px;

    border-radius: 10px;
  }

  &--style-1 {
    background-color: $color-bright-1;
  }

  &--style-2 {
    background-color: $color-bright-2;
  }

  &--style-3 {
    background-color: $color-bright-3;
  }

  &--style-4 {
    background-color: $color-bright-4;
  }
}
