.button {
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  color: $color-dark-alter;
  text-transform: uppercase;

  background-color: $color-bright-4;
  border: none;
  border-radius: 30px;
}
