.travel-routes {
  position: relative;
  z-index: 5;

  margin-top: $shift-top-mobile;
  padding-top: 107px;
  padding-bottom: 30px;

  color: $text-color-gray;

  background-color: $color-light;
  border-radius: $rounded-bottom-mobile;
}

.travel-routes__list {
  padding-left: 0;
  list-style: none;
}

.travel-routes__text {
  box-sizing: border-box;
  margin-bottom: 59px;
  padding-right: 50px;
  padding-left: 25px;
}

.travel-routes__button {
  width: 270px; /* Временно, для базовой стилизации */
  margin-right: auto;
  margin-left: auto;
}
