.contacts-list {
  padding-left: 0;

  list-style: none;
}

.contacts-list__link {
  display: block;

  font-weight: 700;
  color: $color-dark-alter;
  text-transform: uppercase;
  text-decoration: none;

  &--bright {
    color: $color-bright-4;
  }
}
