.reviews {
  margin-top: -60px;
  padding-top: 10px;
  padding-bottom: 100px;

  background-color: $color-dark-alter;
}

.reviews__author {
  font-style: normal;
  font-weight: 700;
}

.reviews__list {
  list-style: none;
  padding-left: 0;
}

.reviews__blockquote {
  margin: 0;
  padding-right: 65px;
}
