.companions {
  position: relative;
  z-index: 4;

  margin-top: -35px;
  padding-top: 107px;
  padding-bottom: 30px;

  background-color: $color-dark-lighter;
  background-image: url("../img/blue_back.png"), url("../img/smolov-back-desktop@1x.png"), url("../img/rogovaya-back-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: left -19px top 84px, left 152px top 84px, left -10px top 356px;
  border-radius: $rounded-bottom;
}

.companions__text {
  box-sizing: border-box;
  padding-right: 25px;
  padding-left: 25px;

  &--lead {
    font-weight: 700;
  }
}

.companions__list {
  padding-left: 0;

  list-style: none;
}

.companions__button {
  width: 270px; /* Временно, для базовой стилизации */
  margin-right: auto;
  margin-left: auto;
}
