.user-actions {
  margin-top: -35px;
  padding-top: 107px;

  background-color: $color-dark-lighter;
}

.user-actions__title {
  margin-top: 0;

  text-align: center;
}

.user-actions__link {
  color: $color-bright-4;
  text-decoration: underline;
}

.user-actions__form {
  position: relative;
}

.user-actions__input {
  box-sizing: border-box;
  width: 260px;
  padding: 25px 25px 19px 23px;

  font-family: inherit;

  border: none;
  border-radius: 10px;

  &::placeholder {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: $text-color-gray;

    opacity: 0.3;
  }
}

.user-actions__send-button {
  position: absolute;
  right: 0;

  box-sizing: border-box;
  width: 60px;
  height: 62px;

  font-family: inherit;

  background-color: $color-bright-4;
  border: none;
  border-radius: 10px;
}
