.contacts {
  z-index: 2;

  padding-bottom: 46px;

  background-color: $color-dark-lighter;

  @include section-shape;
}

.contacts__text {
  text-align: center;
  padding-right: 25px;
  padding-left: 25px;
}
